.charts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 24px;
}

.charts-container > div > div {
  width: 300px;
  height: 200px;
  margin-bottom: 24px;
}

.loading {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 32px;
  line-height: 100vh;
  color: rgba(0, 0, 0, 0.65);
}

.diff-box {
  width: 100vw;
  justify-content: space-around;
  display: flex;
  overflow-y: scroll;
}

.diff-box > img {
  display: block;
  width: 33%;
  height: auto;
  border-right: 1px solid #ccc;
}
.diff-box > img:last-child {
  border-right: none;
}
